.community .top {
  background-color: #fff;
  text-align: center;
  height: 0.7rem;
  line-height: 0.7rem;
}
.community .top div {
  text-align: center;
  display: inline-block;
}
.community .top div:first-of-type {
  margin-right: 0.5rem;
}
.community .top a {
  font-size: 14px;
  width: 0.7rem;
  color: #666666;
}
.community .top div.active {
  box-shadow: inset 0 -2px 0 #dd0000;
}
.community .zhezao {
  width: 100%;
  height: 100hv;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(97, 96, 96, 0.8);
  z-index: 1;
}
