    *{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.searchBar{
		width: 96%;
		// border: 1px solid red;
		// position:fixed;
		position: relative;
		z-index: 3;
		height: 40/100rem;
		background-color: #fff;
		display: flex;
		
		justify-content: space-between;
		padding: 20/100rem 15/100rem;
		.body{
			position: absolute;
			height: 100vh;
			top: 94%;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(97,96,96,0.8);
			z-index: 1;
		
		}
		.bobyen{
			position: absolute;
			height: 100vh;
			top: 99%;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(97,96,96,0.8);
			z-index: 1;
		}
		.bobyone{
					 position: absolute;
					 height: 100vh;
					 top: 84%;
					 bottom: 0;
					 left: 0;
					 right: 0;
					 background-color: rgba(97,96,96,0.8);
					 z-index: 1;
					
		}
		.tiontwo{
					 padding: 25/100rem;
					 width: 92%;
					 position: absolute;
					top: 0%;
					 height: 475/100rem;
					 // border: 1px solid red;
					 z-index: 2;
					 background-color: #fff;
					  // background-color: black;
					  color: black;
					  .active{
					  	.zong{
					  		// border-bottom:1px solid #ecebeb ;
					  		// margin-left: 25/100rem;
					  		p:nth-of-type(2){
					  			font-size: 14px;
					  			color: gray;
					  			margin-top: 10/100rem;
					  			padding-bottom: 35/100rem;
					  		}
					  	}
					  	li{
					  		padding: 25/100rem 0 35/100rem 0;
					  		border-top:1px solid #ecebeb ;
					  		a{
					  			color: black;
					  			font-size: 16px;
					  		}
					  		
					  	}
					  	.ao{
					  		// background-color: black;
					  		a{
					  			color: red;
					  		}
					  	  }
					  }
		}
		
		.tionthree{
			  bottom:0;
			overflow-y: scroll;
			// overflow-x: hidden;
			// overflow: hidden;
			width: 100%;
			position: absolute;
			top: 0%;
			height: 928/100rem;
			// border: 1px solid red;
			z-index: 2;
			background-color: #fff;
			 // background-color: black;
			 color: black;
			 .shanchang{
				 display: flex;
				 flex-wrap: wrap;
				 margin-left: 15/100rem;
				 margin-top: 12/100rem;
				 li{
					 text-align: center;
					 // border: 1px solid red;
					 border-radius: 2px;
					 margin: 20/100rem 10/100rem;
					 padding: 10/100rem;
					 width: 18%;
					 background-color: #F5F5F5;
					 a{
						 color: black;
						 font-size: 13px;
					 }
				 }
				 .tion3{
				background-color: #fef4f3;
				a{
					color:#ee2d1b;
				}
			}
				 
			 }
			 h4{
			 	 font-size:14px;
				 margin-left: 25/100rem;
			 }
			 .hr{
				 margin: 40/100rem 25/100rem 7/100rem 20/100rem;
			 }
		}
		
		
		.tion{
					 width: 100%;
					 position: absolute;
					 top: 0%;
					 height: 330/100rem;
					 // border: 1px solid red;
					 z-index: 2;
					 background-color: #fff;
					 // background-color: green;
					 color: black;
					 .tionone{
					 	display: flex;
					 	flex-wrap: wrap;
					 	margin-left: 15/100rem;
					 	margin-top: 12/100rem;
					 	li{
					 		text-align: center;
					 		// border: 1px solid red;
					 		border-radius: 2px;
					 		margin: 20/100rem 10/100rem;
					 		padding: 10/100rem;
					 		width: 18%;
					 		background-color: #F5F5F5;
					 		a{
					 			color: black;
					 			font-size: 15px;
					 		}
					 	}
					 	.tion2{
					 		background-color: #fef4f3;
					 		a{
					 			color:#ee2d1b;
					 		}
					 	}
					 }
		}
		.quyuone{
		  a{
			  color: black;
			  text-decoration: none;
			  font-size: 17px;
			  margin: 0 10/100rem;
		  }
		}
		.quyutwo{
			span{
				img{
					width: 35/100rem;
					height: 35/100rem;
				}
			}
			.i{
				 margin: 0 10/100rem 0 27/100rem;
				 
			}
		}
		}
		.ul{
			display: flex;
			// border: 1px solid black;
			margin-top: 20/100rem;
			li{
				text-align: center;
				flex: 1;
				a{
					color: black;
					img{
						width: 65/100rem;
						height: 65/100rem;
					}
					p{
						font-size: 14px;
					}
				}
			
			}
		}
		.swoie{
			padding: 30/100rem 25/100rem;
			
			.mint-swipe-items-wrap {
				position: relative;
				height: 190/100rem;
				// border: 1px solid red;
				border-radius: 8px;
				img{
					width: 100%;
					height: 200/100rem;
				}
			}
			.mint-swipe-indicators{
				position: absolute;
				bottom: 10px;
				left: 75%;
				transform: none;
	
				.mint-swipe-indicator{
					opacity: 1;
					background-color: darkgray;
					&.is-active{
						background: #fff;
					}
				}
			}
			
			
		}
		.recommend{
			width: 100%;
			display: flex;
			// border: 1px solid red;
			overflow-x: scroll;
			li{
				width: 20.66666666666668%;
				text-align: center;
				a{
					text-decoration: none;
					color: black;
				}
			}
		}
		.Peron{
			.Peronone{
				display: flex;
				margin-top: 30/100rem;
				li{
					border-radius: 12px;
					margin: 0 21/100rem;
					// border: 1px solid red;
					padding: 7/100rem;
					flex: 1;
					text-align: center;
					background-color: #f5f7fa;
					a{
						text-decoration: none;
						font-size: 12px;
						color: black;
					}
				}
			}
		}
		.list{
			// border: 1px solid red;
			// padding: 20/100rem 20/100rem 20/100rem 20/100rem;
			margin-top: 30/100rem;
			li{
				// line-height: 25px;
				padding: 20/100rem;
				display: flex;
				// border: 1px solid black;
				border-radius: 5px;
				height: 300/100rem;
				margin: 30/100rem;
				background: url(../images/找装修/list-bg.png) no-repeat;
				.left{
					img{
						border-radius: 5px;
						width: 180/100rem;
						height:180/100rem;
					}
				}
				.right{
					// border: 1px solid black;
					width: 65%;
					padding-left: 15/100rem;
					.rightone{
						// border: 1px solid red;
						display: flex;
						justify-content: space-between;
						align-items:center;
						
						h3{
							font-size: 16px;
							
						}
						img{
							width: 60/100rem;
							height: 35/100rem;
						}
					}
					.xing{
						display: flex;
						align-items: center;
						
						margin-top: 10/100rem;
						.xingone{
							display: inline-block;
							height: 40/100rem;
							width: 133/100rem;
							// border: 1px solid black;
							background: url(../images/首页/zx-star.png) no-repeat 1px -12px;
							background-size: 125/100rem  50/100rem;
						}
						.xingtwo{
							font-size: 12px;
						}
					}
					.designtion{
					 // border: 1px solid red;
						margin-top: 10/100rem;
						span{
							color: gray;
							font-size: 14px;
						}
					}
					.three{
						margin-bottom: 10/100rem;
						margin-top: 10/100rem;
						display: flex;
						.threeone{
							// border: 1px solid red;
							display: inline-block;
							background-color: #fff1e8;
							color: darkorange;
							font-size: 12px;
							padding: 5/100rem;
							// margin-left: 5/100rem;
							height: 40/100rem;
							line-height: 45/100rem;
						}
						a:nth-of-type(2){
							margin-left: 10/100rem;
						}
						a:nth-of-type(3){
							margin-left: 10/100rem;
						}
						
					}
					.discount{
						display: flex;
						align-items: center;
						margin-top: 20/100rem;
						.discountone{
							display: inline-block;
							width: 25/100rem;
							height: 25/100rem;
							// border: 1px solid red;
							background: url(../images/找装修/new_tip.png) no-repeat;
							background-size:  90/100rem;
						}
						.discounttwo{
							margin-left: 10/100rem;
							width: 80%;
							// border: 1px solid red;
							font-size: 12px;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
							
						}
					}
					.discount-a{
						margin-top: 20/100rem;
						display: flex;
						align-items: center;
						
						.discount-b{
							display: inline-block;
							width: 25/100rem;
							height: 25/100rem;
							// border: 1px solid red;
							background: url(../images/找装修/new_tip.png) no-repeat -19px 0px;
							background-size:  90/100rem;
						}
						.discounttwo-c{
							margin-left: 10/100rem;
							width: 80%;
							// border: 1px solid red;
							font-size: 12px;
							overflow: hidden;
							text-overflow:ellipsis;
							white-space: nowrap;
						}
					}
				}
			}
		}
		
		 
		
	
	