* {
    padding: 0;
    margin: 0;
}

.cargolist {
    padding-top: 30/100rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;


    li {
        width: 1.3rem !important;
        border-radius: 0.2rem;
        font-size: 12px;
        padding: 0.05rem;
        background: rgba(245, 245, 245);
        margin-right: 0.1rem;
        margin-bottom: 0.2rem;
    }
}

.cargobox {
    .cragocontent {
        border-bottom: 1px solid rgba(251, 238, 238);
        padding: 30/100rem;
        display: flex;
        position: relative;

        .right {
            width: 30%;
            position: absolute;
            right: 10/100rem;

            img {
                width: 180/100rem;
            }
        }

        .left {
            width: 70%;

            .title {
                font-size: 17px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .myp {
                padding-top: 30/100rem;

                .author {
                    font-size: 12px;
                    color: rgba(175, 175, 175);
                }

                .count {
                    font-size: 12px;
                    color: rgba(175, 175, 175);
                }
            }
        }
    }
}

.question-top {
    padding-top: 30/100rem;
    padding-left: 20/100rem;

    //   background: rgba(245, 245, 245);
    form {
        display: flex;

        input {
            border: none;
            outline: none;
            width: 100%;
            text-indent: 50/100rem;
            border-radius: 30/100rem;
        }

        div {
            position: relative;
            border: 1px solid lightgray;
            height: 50/100rem;
            line-height: 50/100rem;
            border-radius: 30/100rem;
        }

        .div02 {
            width: 30%;
            margin-left: 30/100rem;
        }

        .search {
            width: 30/100rem;
            position: absolute;
            top: 13/100rem;
            left: 10/100rem;

        }

        .pen {
            width: 30/100rem;
            position: absolute;
            top: 10/100rem;
            left: 10/100rem;
        }
    }

}

.ulnav {
    margin-top: 30/100rem;
    display: flex;

    li {
        flex: 1;
        border-radius: 20px;
        padding: 0.05rem 0.2rem;
        font-size: 12px;
        margin: 0.2rem 0.2rem;
        background: rgba(245, 245, 245);
        text-align: center;

    }
}
.divlist{
    ul{
        padding-top:30/100rem;
        li{
           padding:20/100rem; 
           border-bottom:1px solid #efecec;
        }
    }
}