* {
  padding: 0;
  margin: 0;
}
.cargolist {
  padding-top: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.cargolist li {
  width: 1.3rem !important;
  border-radius: 0.2rem;
  font-size: 12px;
  padding: 0.05rem;
  background: rgba(245, 245, 245);
  margin-right: 0.1rem;
  margin-bottom: 0.2rem;
}
.cargobox {
  border: 1px solid red;
}
.cargobox .cragocontent {
  border-bottom: 1px solid rgba(251, 238, 238);
  padding: 0.3rem;
  display: flex;
  position: relative;
}
.cargobox .cragocontent .right {
  width: 30%;
  position: absolute;
  right: 0.1rem;
}
.cargobox .cragocontent .right img {
  width: 1.8rem;
}
.cargobox .cragocontent .left {
  width: 70%;
}
.cargobox .cragocontent .left .title {
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cargobox .cragocontent .left .myp {
  padding-top: 0.3rem;
}
.cargobox .cragocontent .left .myp .author {
  font-size: 12px;
  color: rgba(175, 175, 175);
}
.cargobox .cragocontent .left .myp .count {
  font-size: 12px;
  color: rgba(175, 175, 175);
}
.cargobox .cragocontent .left .myp .circle {
  color: rgba(175, 175, 175);
}
.question-top {
  padding-top: 0.3rem;
  padding-left: 0.2rem;
}
.question-top form {
  display: flex;
}
.question-top form input {
  border: none;
  outline: none;
  width: 100%;
  text-indent: 0.5rem;
  border-radius: 0.3rem;
}
.question-top form div {
  position: relative;
  border: 1px solid lightgray;
  height: 0.5rem;
  line-height: 0.5rem;
  border-radius: 0.3rem;
}
.question-top form .div02 {
  width: 30%;
  margin-left: 0.3rem;
}
.question-top form .search {
  width: 0.3rem;
  position: absolute;
  top: 0.13rem;
  left: 0.1rem;
}
.question-top form .pen {
  width: 0.3rem;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
}
.ulnav {
  margin-top: 0.3rem;
  display: flex;
}
.ulnav li {
  flex: 1;
  border-radius: 20px;
  padding: 0.05rem 0.2rem;
  font-size: 12px;
  margin: 0.2rem 0.2rem;
  background: rgba(245, 245, 245);
  text-align: center;
}
.divlist ul {
  padding-top: 0.3rem;
}
.divlist ul li {
  padding: 0.2rem;
  border-bottom: 1px solid #efecec;
}
