.findpwd {
  background: rgba(239, 239, 239);
}
.findpwd .top {
  height: 0.7rem;
  line-height: 0.7rem;
  position: relative;
  text-align: center;
  background: #fff;
}
.findpwd .top a {
  color: rgba(52, 52, 52);
}
.findpwd .top .back {
  position: absolute;
  left: 0.3rem;
}
.findpwd .content {
  padding: 0.4rem;
  padding-bottom: 6.2rem;
}
.findpwd .content form {
  height: 0.7rem;
  line-height: 0.7rem;
  border-bottom: 1px solid #e3e0e0;
  text-align: left;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.findpwd .content form input {
  border: none;
  outline: none;
  background: transparent;
}
.findpwd .content form ::-webkit-input-placeholder {
  color: rgba(210, 210, 210);
}
.findpwd .content .form01 {
  display: flex;
  align-items: center;
}
.findpwd .content .form01 .div01 {
  width: 40%;
}
.findpwd .content .form01 .div02 {
  display: flex;
  align-items: center;
}
.findpwd .content .form01 .div02 .code {
  width: 1.5rem;
  height: 100%;
}
.findpwd .content .form01 .div02 a {
  height: 100%;
  display: inline-block;
  margin-left: 0.3rem;
}
.findpwd .content .word {
  color: rgba(154, 154, 154);
  font-size: 12px;
  padding-top: 0.2rem;
}
.findpwd .btn {
  width: 100%;
  color: #fff;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.08rem;
  margin-top: 0.7rem;
  background: rgba(208, 0, 0);
}
.findpwd .btn input {
  border: none;
  color: #fff;
  outline: none;
  width: 100%;
  background: rgba(208, 0, 0);
  height: 100%;
  border-radius: 0.08rem;
}
.right_number {
  color: lightgray !important;
}
